In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk # natural language tool kit

In [3]:
initialFrame = pd.read_csv('train.tsv', delimiter = '\t');

In [4]:
initialFrame

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [9]:
# Cleans the initial frame
def cleanInitialFrame(df):
    cleanList = [] # list to grow
    currentSentence = 1 # tracks current sentence
    # Iterate row by row
    for index, row in df.iterrows():
        # If it's the first element, add to list
        if (row['SentenceId'] == currentSentence):
            continue
        else:
            cleanList.append([row['PhraseId'], row['SentenceId'], row['Phrase'], row['Sentiment']]);
            currentSentence = row['SentenceId']
    
    # Return a clean frame
    return pd.DataFrame(cleanList, columns = ['PhraseId', 'SentenceId', 'Phrase', 'Sentiment']);

In [10]:
df = cleanInitialFrame(initialFrame)

In [11]:
df

,PhraseId,SentenceId,Phrase,Sentiment
0,64,2,"This quiet , introspective and entertaining in...",4
1,82,3,"Even fans of Ismail Merchant 's work , I suspe...",1
2,117,4,A positively thrilling combination of ethnogra...,3
3,157,5,Aggressive self-glorification and a manipulati...,1
4,167,6,A comedy-drama of nearly epic proportions root...,4
...,...,...,...,...
8523,155985,8540,... either you 're willing to go with this cla...,2
8524,155998,8541,"Despite these annoyances , the capable Claybur...",2
8525,156022,8542,-LRB- Tries -RRB- to parody a genre that 's al...,1
8526,156032,8543,The movie 's downfall is to substitute plot fo...,1
8527,156040,8544,"The film is darkly atmospheric , with Herrmann...",2