In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk # natural language tool kit

In [2]:
initialFrame = pd.read_csv('train.tsv', delimiter = '\t');

In [4]:
initialFrame

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [5]:
# Cleans the initial frame
def cleanInitialFrame(df):
    cleanList = [] # list to grow
    currentSentence = 1 # tracks current sentence
    # Iterate row by row
    for index, row in df.iterrows():
        # If it's the first element, add to list
        if (row['SentenceId'] == currentSentence):
            cleanList.append([row['PhraseId'], row['SentenceId'], row['Phrase'], row['Sentiment']]);
            currentSentence += 1;
    
    # Return a clean frame
    return pd.DataFrame(cleanList, columns = ['PhraseId', 'SentenceId', 'Phrase', 'Sentiment']);

In [6]:
df = cleanInitialFrame(initialFrame)

In [7]:
df[2600:2628]

,PhraseId,SentenceId,Phrase,Sentiment
2600,52539,2601,Watching these two actors play against each ot...,3
2601,52556,2602,What 's the most positive thing that can be sa...,2
2602,52571,2603,Too infuriatingly quirky and taken with its ow...,1
2603,52581,2604,Watching Queen of the Damned is like reading a...,1
2604,52596,2605,Adam Sandler 's Eight Crazy Nights grows on yo...,0
2605,52609,2606,The actresses may have worked up a back story ...,2
2606,52643,2607,A complex psychological drama about a father w...,3
2607,52659,2608,"The movie is so contrived , nonsensical and fo...",0
2608,52689,2609,A minor film with major pleasures from Portugu...,4
2609,52704,2610,"For VeggieTales fans , this is more appetizing...",4
2610,52721,2611,If the real-life story is genuinely inspiratio...,4
2611,52734,2612,-LRB- Gayton 's script -RRB- telegraphs every ...,3
2612,52753,2613,"No , it 's not as single-minded as John Carpen...",3
2613,52775,2614,This starts off with a 1950 's Doris Day feel ...,1
2614,52794,2615,"Blessed with two fine , nuanced lead performan...",3
2615,52802,2616,What 's next ?,3
2616,52805,2617,"If you 're paying attention , the `` big twist...",2
2617,52831,2618,"If you 're a comic fan , you ca n't miss it .",4
2618,52841,2619,Earnest and heartfelt but undernourished and p...,3
2619,52848,2620,"Fairy-tale formula , serves as a paper skeleto...",4
2620,52871,2621,Pipe Dream does have its charms .,3
2621,52877,2622,What could have been a pointed little chiller ...,2
2622,52908,2623,Brosnan is more feral in this film than I 've ...,3
2623,52931,2624,"Director Carl Franklin , so crisp and economic...",3
2624,52953,2625,"A thoughtful , reverent portrait of what is es...",4
2625,52978,2626,But ticket-buyers with great expectations will...,0
2626,52994,2627,From its nauseating spinning credits sequence ...,1

In [8]:
t_df = pd.DataFrame(np.array([["This 'll be a sentence"], ["We 'll see"], ["stop can 't"]]), columns = ['w'])
t_df

                        w
0  This 'll be a sentence
1              We 'll see
2             stop can 't

In [16]:
import re
def removeSpaces(df):
    for index, row in df.iterrows():
        df['Phrase'] = df['Phrase'].replace([row['Phrase']], re.sub(r'\s+\'', "'", row['Phrase']))

In [23]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Allen\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Allen\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [24]:
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
lemmatizer = WordNetLemmatizer()
l_dm = [[lemmatizer.lemmatize(word) for word in word_tokenize(s)] for s in df.iloc[:, 2]]